<section class="content">
    <div class="container-fluid">
        <div *ngIf="isLoading === false && failedLoading === true">
            <app-failed-loading-page></app-failed-loading-page>
        </div>
        <div class="row clearfix" [hidden]="failedLoading === true || isLoading === true">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                    <div class="header">
                        <h2>Price Factor Calculator</h2>
                    </div>
                    <div class="body">

                    <p>This calculator lets you test price factors with different variables to estimate TRAC rewards for offers.</p>
                    <p>It is possible for larger values to be used than what this calculator allows.</p>
                        <form class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="tracPriceInEth">TRAC Price in ETH</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="number" id="tracPriceInEth" class="form-control" readonly
                                                placeholder="Enter TRAC Price in ETH">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                    <label for="email_address_2">Price Factor (Lambda)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div id="priceFactorSlider" style="margin-top:15px;"></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <span class="priceFactorSlider-val" id="skip-value-lower" style="   display: flex;margin-top:15px;"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                    <label for="email_address_2">Dataset Size (MB)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div id="dataSetSlider" style="margin-top:15px;"></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <span class="dataSetSlider-val" id="skip-value-lower" style="   display: flex;margin-top:15px;"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                    <label for="email_address_2">Holding Time (Days)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div id="holdingTimeSlider" style="margin-top:15px;"></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <span class="holdingTimeSlider-val" id="skip-value-lower" style="   display: flex;margin-top:15px;"></span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                    Reward
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <span class="trac-val btn-success" id="skip-value-lower" style="padding:10px;"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>