<section class="contentContainer">
    <div class="container-fluid">
        <div *ngIf="isLoading === false && failedLoading === true">
            <app-failed-loading-page></app-failed-loading-page>
        </div>
        <div class="alert alert-warning" *ngIf="NodeModel?.Version === 0">
            <strong>Warning!</strong> This old identity is only available for viewing historical data.
        </div>
        <div class="alert alert-warning" *ngIf="NodeModel != null && NodeModel?.Offers?.length === 0">
            <strong>Warning!</strong> This node has not created any offers on the network.
            <br>
            Did you mean to go to the <a routerLink="/nodes/dataholders/{{NodeModel?.Identity}}" onClick="return false;">Data Holder</a> page?
        </div>
        <div class="row clearfix" [hidden]="failedLoading === true">

            <div class="col-lg-12 col-md-12 col-sm-12">


                <mat-card>
                    <mat-card-title>

                         Data Creator</mat-card-title>
                    <mat-list>

                        <mat-list-item>
                            Node Id: {{NodeModel?.NodeId}}&nbsp;<app-copyclipboardicon [textToCopy]="NodeModel?.NodeId"
                            style="vertical-align:middle">
                        </app-copyclipboardicon>
                        </mat-list-item>

                        <mat-list-item>
                            Staked Tokens: {{formatAmount(NodeModel?.StakeTokens)}}
                        </mat-list-item>
                        <mat-list-item>
                            Locked Tokens: {{formatAmount(NodeModel?.StakeReservedTokens)}}
                        </mat-list-item>
                        </mat-list>
                </mat-card>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
              <mat-card>
                <mat-card-title>Identities
                </mat-card-title>
                <mat-list>
                  <mat-list-item *ngFor="let data of NodeModel?.Identities; let i = index">
                    <span>{{data.Identity}}</span>
                    <span class="tokenSmall">{{data.BlockchainName}} {{data.NetworkName}}</span>


                  </mat-list-item>

                </mat-list>
              </mat-card>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <datacreator-jobs [identity]="identity"></datacreator-jobs>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <datacreator-litigations [identity]="identity"></datacreator-litigations>


            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <datacreator-transfers [identity]="identity"></datacreator-transfers>


            </div>

        </div>
    </div>
</section>
