<!-- <div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

      <h2>Welcome back!</h2>

    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="50%" class="text-center no-records animate">
    <mat-card>
      Hello
    </mat-card>
      </div>

    </div>
  </div>
</div> -->

<div class="contentContainer" fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayout.sm="column" >
  <div fxFlex>
    

    <mat-card class="homeCard">
      <mat-card-title>
        <img src="assets/images/2467.png" alt="OriginTrail" height="32" width="32" class="otLogo" />
        OriginTrail
        <small class="tokenSmall">TRAC</small>
        <div style="display:inline-block;">
          ${{Data?.PriceUsd | number: '1.2-4'}}
          <small class="btn-sm" title="24 hour change" [class.btn-success]="Data?.PercentChange24H > 0" [class.btn-danger]="Data?.PercentChange24H < 0">{{Data?.PercentChange24H}}%</small>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="container" fxLayout="row" fxLayoutAlign="center none">
          <div class="col-md-4 col-sm-6  col-xs-6">
            <div class="homeHeader">
              Stats
            </div>
            <div class="homeField">
              Total jobs:
              <span class="homeData">
            {{Data?.TotalJobs}}
          </span>
            </div>
            <div class="homeField">
              Active jobs:
              <span class="homeData">
            {{Data?.ActiveJobs}}
          </span>
            </div>
            <div class="homeField">
              Active nodes:
              <span class="homeData">
            {{Data?.ActiveNodes}}
          </span>
            </div>
            <div class="homeField">
              Staked tokens:
              <span class="homeData">
              <ng-template #stakedTokensPopupTemplate>
                <div style="padding:10px; border-radius: 2px; border: 1px solid gray;">
                              <div *ngFor="let bc of Data?.StakedByBlockchain">
                              <small class="blockchainSmall">{{bc.BlockchainName}} {{bc.NetworkName}}</small>

                              <div class="homeField">
                                Staked tokens:
                                <span class="homeData">
                            {{formatAmount(bc.StakedTokens)}}
                          </span>
                              </div>
                            </div>
                </div>
              </ng-template>
            {{formatAmount(Data?.StakedTokens)}} / {{Data?.CirculatingSupply}} {{(Data?.StakedTokens / Data?.CirculatingSupply) * 100 | number: '1.0-2'}}% 
          </span>

            </div>


          </div>

          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="homeHeader">
              24h Job Stats
            </div>
            <div class="homeField">
              Jobs:
              <span class="homeData">
            {{Data?.Jobs24H}}
          </span>
            </div>
            <div class="homeField">
              Average job reward:
              <span class="homeData">
            {{Data?.JobsReward24H != null ? (Data?.JobsReward24H | number:'1.0-2') : '?'}}
          </span>
            </div>
            <div class="homeField">
              Average job duration:
              <span class="homeData">
            {{formatTime(Data?.JobsDuration24H)}}
          </span>
            </div>
            <div class="homeField">
              Average job data size:
              <span class="homeData">
                {{Data?.JobsSize24H != null ? ((Data?.JobsSize24H / 1000 | number:'1.2-2') + ' KB') : '?'}}
          </span>
            </div>

          </div>
          <div class="col-md-4 col-sm-12  col-xs-12">
            <div class="homeHeader">
              24h Fee Stats
            </div>
            <div *ngFor="let bc of Data?.FeesByBlockchain">
              <small class="blockchainSmall">{{bc.BlockchainName}} {{bc.NetworkName}}</small>

              <div class="homeField">
                Average job fee:
                <span class="homeData">
                                <ng-template #averagePayoutFeeTemplate>
                <div style="padding:10px; border-radius: 2px; border: 1px solid gray;">
                     <small class="blockchainSmall">{{bc.BlockchainName}} {{bc.NetworkName}}</small>
                         <div class="homeField">
              Average job creation:
              <span class="homeData">
            {{bc.ShowCostInUSD ? "$" : ""}}{{bc.JobCreationCost != null ? bc.JobCreationCost : '?'}}{{bc.ShowCostInUSD ? "" : " ETH"}}
          </span>
            </div>
                           <div class="homeField">
              Average job finalized:
              <span class="homeData">
            {{bc.ShowCostInUSD ? "$" : ""}}{{bc.JobFinalisedCost != null ? bc.JobFinalisedCost : '?'}}{{bc.ShowCostInUSD ? "" : " ETH"}}
          </span>
            </div>
                </div>
              </ng-template>
            {{bc.ShowCostInUSD ? "$" : ""}}{{bc.JobCreationCost != null && bc.JobFinalisedCost != null ? (bc.JobCreationCost + bc.JobFinalisedCost | number: '1.0-5') : '?'}}{{bc.ShowCostInUSD ? "" : " ETH"}}
                  <nb-icon icon="info-outline" nbPopoverTrigger="hover"
                           [nbPopover]="averagePayoutFeeTemplate" nbButton status="primary"></nb-icon>
          </span>
              </div>
              <div class="homeField">
                Average payout fee:
                <span class="homeData">
                          {{bc.ShowCostInUSD ? "$" : ""}}{{bc.PayoutCost != null ? bc.PayoutCost: '?'}}{{bc.ShowCostInUSD ? "" : " ETH"}}
          </span>
              </div>
            </div>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="fxFlex">
    <mat-card class="homeCard" status="basic">
      <mat-card-content>
        <div id="JobBlockchainDistributionChart" style="width: 100%; height: 160px;" [hidden]="noJobsIn24H === true"></div>
        <div class="alert alert-warning" *ngIf="noJobsIn24H === true">
          Unable to show this chart as there have been no jobs started in 24 hours.
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>


    <mat-card class="homeCard">
      <mat-card-content>
        <div id="JobsHistoryChart" style="width: 100%; height: 340px;"></div>
      </mat-card-content>
    </mat-card>
