.homeData {
  display:block;
  font-weight: 400;
  line-height: 1.5;
  font-size:14px;
}

.homeField {
  padding: 4px 0;
  font-weight: 600;
  line-height: 1.5;
  font-size:14px;
}

.homeHeader {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
}

.homeSubHeader {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 8px;
  padding-top:4px;
}

.tokenSmall {
  margin-left: 2px;
  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 6px;
}

.blockchainSmall {
  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 6px;
}

.otLogo {margin-right:2px;}
