<div class="alert alert-info">Welcome to OT Hub - Testnet. This website is being updated daily with improvements and
  fixes.
  <br>
  Changes being worked on for this version of OT Hub can be tracked on <a
    href="https://github.com/lukeskinner/OTHub/milestone/1">GitHub</a>.
</div>
<div class="row">
  <!-- <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div> -->

  <div class="col-xxl-12">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>




<div class="row">
  <!-- <div class="col-md-6 col-xxxl-4">
    <nb-card size="medium">
      <nb-card-header>
        Used Fonts
      </nb-card-header>
      <nb-card-body>
        <div class="font-row">
          <div class="header">
            <div class="name bold">Open Sans</div>
          </div>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.
            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div> -->

  <!-- <div class="col-md-6 col-xxxl-4">
    <nb-card size="medium" class="headings-card">
      <nb-card-header>
        Headings
      </nb-card-header>
      <nb-card-body>
        <div class="header">
          <div>
            <h1>H1. Heading</h1>
          </div>

          <div class="detail">
            800 2.25rem (36px)
          </div>
        </div>
        <div class="header">
          <div>
            <h2>H2. Heading</h2>
          </div>

          <div class="detail">
            800 2rem (32px)
          </div>
        </div>
        <div class="header">
          <div>
            <h3>H3. Heading</h3>
          </div>

          <div class="detail">
            800 1.875rem (30px)
          </div>
        </div>
        <div class="header">
          <div>
            <h4>H4. Heading</h4>
          </div>

          <div class="detail">
            800 1.625rem (26px)
          </div>
        </div>
        <div class="header">
          <div>
            <h5>H5. Heading</h5>
          </div>

          <div class="detail">
            800 1.375rem (22px)
          </div>
        </div>
        <div class="header">
          <div>
            <h6>H6. Heading</h6>
          </div>

          <div class="detail">
            800 1.125rem (18px)
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div> -->

  <div class="col-md-6 col-xxxl-4">
    <nb-card [size]="breakpoint.width >= breakpoints.xxxl ? 'small' : 'small'">
      <nb-card-header>
        What is OriginTrail?
      </nb-card-header>
      <nb-card-body>
        <h5>OriginTrail Explained</h5>
        <p>
          OriginTrail is a neutral, open-source protocol enabling trusted data sharing between companies, organizations,
          and blockchains.
        </p>
        <p>
          End-to-end information is shared and secured in a fully decentralized knowledge graph network, monitored with
          AI and oracles, providing valuable insights for businesses and consumers alike.
        </p>
        To learn more please visit <a href="https://origintrailexplained.info/" target="_blank">https://origintrailexplained.info/</a>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 col-xxxl-4">
    <nb-card size="small">
      <nb-card-header>
        How do I get involved?
      </nb-card-header>
      <nb-card-body>
        <p>
          There are many active communities to discuss all things OriginTrail.
        </p>
        <p>
          Official Announcements on <a href="https://medium.com/origintrail" target="_blank">Medium</a>
        </p>
        <p>
          Chat about OriginTrail on <a href="https://t.me/OriginTrail" target="_blank">Telegram (Official)</a>
        </p>
        <p>
          Chat about trading on <a href="https://t.me/OriginTrailTraders" target="_blank">Telegram (OriginTrailTraders)</a>
        </p>
        <p>
          Chat about nodes on <a href="https://discord.gg/FCgYk2S" target="_blank">Discord</a>
        </p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 col-xxxl-4">
    <nb-card size="small">
      <nb-card-header>
        How do I run a node?
      </nb-card-header>
      <nb-card-body>
        <h5>Node Installation Guide</h5>
        <p>
          <a href="https://otnode.com/" target="_blank">https://otnode.com/</a>
        </p>
        <h5>Node Maintenance</h5>
        <p>
          <a href="https://otnode.com/node-maintenance/" target="_blank">https://otnode.com/node-maintenance/</a>
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>










<!-- 
<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->