<div class="row">
  <div class="col-md-12 col-xxxl-12">
    <nb-card class="homeCard" status="basic" accent="success">
      <nb-card-header>
        <img src="assets/images/2467.png" alt="OriginTrail" height="32" width="32" class="otLogo" />
        OriginTrail <h4>xDai Bounty</h4>
      </nb-card-header>
      <nb-card-body>

        <p>OT Hub is watching for when xDai bounties are processed by OriginTrail ready for you to claim manually.</p>
        <p>When your bounty is ready to be claimed, OT Hub will check if you have an empty balance on xDai. If you have 0 xDai you will be sent 0.01 xDai without you needing to do anything!</p>

  <p>This idea originally came from <b>@kirk0 @MilianCrypto @Tybranha @bboysl @OG_Lister @fcmarine</b> in Telegram so big thanks to them for doing so many of these by hand.</p>

        <nb-select selected="25" (selectedChange)="pageSizeChanged($event)">
          <nb-option value="10">10 per Page</nb-option>
          <nb-option value="25">25 per Page</nb-option>
          <nb-option value="50">50 per Page</nb-option>
          <nb-option value="100">100 per Page</nb-option>
        </nb-select>
        <br>
        <br>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
