 <mat-card>
    <mat-card-title>                      Offers

    </mat-card-title>
    <mat-card-content>
        <!-- <mat-select selected="10" (selectedChange)="pageSizeChanged($event)">
            <mat-option value="10">10 per Page</mat-option>
            <mat-option value="25">25 per Page</mat-option>
            <mat-option value="50">50 per Page</mat-option>
            <mat-option value="100">100 per Page</mat-option>
        </mat-select>
        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button>

        <mat-template #exportTemplate>
            <mat-card class="popover-card">
                <mat-card-header status="warning">
                   Export
                </mat-card-header>
                <mat-card-body>
                    <p>Export the grid below in the specified format</p>
                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                </mat-card-body>
            </mat-card>
        </mat-template> -->

        <br>
        <br>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
  
     </mat-card-content>
</mat-card> 