.dropdown-menu.pull-right.show {
    min-width:13em;
}


.tokenSmall {
  margin-left: 6px;
  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 6px;
}
