<section class="content">
    <div class="container-fluid">

        <div *ngIf="isLoading === false && failedLoading === true">
            <app-failed-loading-page></app-failed-loading-page>
        </div>
        <div class="row clearfix" [hidden]="failedLoading === true">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <nb-card>
                    <nb-card-header>System Status</nb-card-header>
                    <nb-card-body>
                        <span style="padding:5 10px;">This page shows the status of the OT Hub Website.<br>
                            <br>
                        If you're experiencing problems with this website you can check here to see if there are any known issues.</span>
                    </nb-card-body>
                    <nb-list>
                        <nb-list-item *ngFor="let data of Data?.Items" style="position: relative;">
                            <nb-icon icon="sync" title="Running now" status="warning" *ngIf="data.IsRunning == true"></nb-icon>
                            <nb-icon icon="checkmark-circle" title="No known issues" status="success" *ngIf="data.Success == true"></nb-icon>
                            <nb-icon icon="close-circle" title="An error occurred" status="danger"
                                *ngIf="data.Success == false && data.LastTriedDateTime != null"></nb-icon>
                            <nb-icon icon="clock" status="info"
                                *ngIf="data.Success == false && data.LastTriedDateTime == null"></nb-icon>
                            <div style="margin-left:10px;">
                                {{data.Name}}
                                <br>
                                <span *ngIf="data.NextRunDateTime != null">
                                    Next run at
                                    {{data.NextRunDateTime| amFromUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm'}}
                                </span>
                            </div>





                            <nb-badge style="font-size: 12px;padding:6px;margin-right:10px;"
                                text="Last successfully run at {{data.LastSuccessDateTime| amFromUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm'}}"
                                status="success" position="middle right"
                                *ngIf="data.Success == true && data.LastSuccessDateTime != null"></nb-badge>
                            <!-- <nb-badge style="font-size: 12px;padding:6px;margin-right:10px;" 
                             text="This has not run since restart." 
                             status="warning"
                              position="middle right" *ngIf="data.Success == true && data.LastSuccessDateTime == null"></nb-badge> -->
                            <nb-badge style="font-size: 12px;padding:6px;margin-right:10px;"
                                text="There was an error during processing." status="danger" position="middle right"
                                *ngIf="data.Success != true && data.LastTriedDateTime != null"></nb-badge>


                        </nb-list-item>
                    </nb-list>
                    <!-- <nb-card-body>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Service
                                    </th>
                                    <th>Last Success Date</th>
                                    <th>Last Attempt Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of Data?.Items">
                                    <td>
                                        <i class="fas fa-clipboard-check" *ngIf="data.Success === true"></i>
                                        <i class="fas fa-exclamation-triangle"  *ngIf="data.Success === false"></i>
                                        &nbsp;{{data.Name}}
                                    </td>
                                    <td>
                                  {{data.LastSuccessDateTime| amFromUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm'}}
                                    </td>
                                    <td>
                                        {{data.LastTriedDateTime| amFromUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm'}}
                                          </td>
                                </tr>
                            </tbody>
                        </table>
                     </nb-card-body> -->
                </nb-card>
            </div>

        </div>
    </div>
</section>