<!-- <section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body>
            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
              <h2 class="title">Payout Job</h2>
              <small class="sub-title">Paying out jobs via OT Hub has been disabled temporarily due to multiple blockchains.</small>
              <br>
              <small class="sub-title">It will come back in a week or two.</small>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>

</section> -->
