<!-- <section class="content">
  <div class="container-fluid">


    <div style="   align-items: center;margin-bottom:10px;">
      <nb-toggle status="primary" [checked]="showDataHolders" style="margin-left:10px;" (checkedChange)="showDataHoldersChanged($event)">Show Data Holders</nb-toggle>

      <nb-toggle status="primary" [checked]="showDataCreators" style="margin-left:10px;" (checkedChange)="showDataCreatorsChanged($event)">Show Data Creators</nb-toggle>
  
      <nb-toggle status="primary" [checked]="showRecentActivity" style="margin-left:10px;" (checkedChange)="showRecentActivityChanged($event)">Show Recent Activity</nb-toggle></div>
  </div>

    <div #dataHoldersView >
      <app-dataholders hideBreadcrumb="true" showOnlyMyNodes="true" [hidden]="showDataHolders != true"
      (afterLoadWithCount)="afterDataHoldersLoad($event)">
    </app-dataholders>


    <app-datacreators [hidden]="showDataCreators != true" hideBreadcrumb="true" showOnlyMyNodes="true" (afterLoadWithCount)="afterDataCreatorsLoad($event)" #dataCreators>
    </app-datacreators>

    <div class="row clearfix" *ngIf="showRecentActivity == true">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-y: auto;" #recentActivityView>
        <nb-card>
          <nb-card-header>Recent Activity</nb-card-header>
          <nb-card-body *ngIf="recentActivity == null || recentActivity.length === 0">
            <p>
              There is no activity to show for the last 7 days! Check back later.
            </p>
          </nb-card-body>
            <nb-list *ngIf="recentActivity != null">
              <nb-list-item *ngFor="let activity of recentActivity">
                <nb-user [name]="myNodeService.GetName(activity.Identity, false)" 
                [title]="'Chosen for job ' + activity.OfferId + ' at ' + (activity.Timestamp | amFromUtc | amLocal | amDateFormat:'LL h:mm A')" [picture]="getIdentityIcon(activity.Identity, 32)"></nb-user>
        
              </nb-list-item>
            </nb-list>
    
      </nb-card>
      </div>
    </div>
   
  </div>
</section> -->