<section class="content">
  <div class="container-fluid">

    <div class="alert alert-info">
      Recent activity is currently disabled. This will be coming back soon.
    </div>

    <div #dataHoldersView>
      <app-dataholders hideBreadcrumb="true" showOnlyMyNodes="true"
      (afterLoadWithCount)="afterDataHoldersLoad($event)">
    </app-dataholders>

        <!-- <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <div #dataHoldersView>
              <app-dataholders hideBreadcrumb="true" showOnlyMyNodes="true"
              (afterLoadWithCount)="afterDataHoldersLoad($event)">
            </app-dataholders>
          </div>
   
          </div> -->
      <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="overflow-y: auto;" #recentActivityView>
        <nb-card>
          <nb-card-header>        <h2>
            <strong>Recent</strong> Activity</h2></nb-card-header>
          <nb-card-body>
            <p *ngIf="recentActivity == null || recentActivity.length === 0">
              There is no activity to show for the last 7 days! Check back later.
            </p>
        <ul class="timeline" *ngIf="recentActivity != null">
          <li *ngFor="let activity of recentActivity">
            <div class="timeline-badge primary">
              <a routerLink="/nodes/dataholders/{{activity.Identity}}"><img [title]="myNodeService.GetName(activity.Identity, false)" class="notice-object" [src]="getIdentityIcon(activity.Identity, 32)"></a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">
                  Chosen for Offer: <a routerLink="/offers/{{activity.OfferId}}" [title]="activity.OfferId">{{activity.OfferId | slice:0:30}}...</a>
                </h5>
              </div>
              <div class="timeline-body">
                <p><span [title]="activity.Timestamp | amFromUtc | amLocal | amDateFormat:'LL h:mm A'">{{activity.Timestamp | amFromUtc | amLocal | amTimeAgo}}</span>

                  <span style="margin-left:8px;">{{formatAmount(activity.TokenAmountPerHolder)}} TRAC</span>
                  <span style="margin-left:8px;">Ends {{activity.EndTimestamp | amFromUtc | amLocal | amDateFormat:'LL h:mm A'}}</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
         </nb-card-body>
      </nb-card>
      </div> -->
    </div>

    <app-datacreators hideBreadcrumb="true" showOnlyMyNodes="true" (afterLoadWithCount)="afterDataCreatorsLoad($event)" #dataCreators>
    </app-datacreators>
    <!-- <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nb-card>
          <nb-card-header> <h2>
            <strong>Manage</strong> Nodes</h2></nb-card-header>
          <nb-card-body>
            <ul class="list-group mynodes" *ngIf="showAddNodeWizard === false && showEditNodeWizard === false">
              <li class="list-group-item" *ngFor="let myNode of MyNodesValues">
                  <img [src]="getIdentityIcon(myNode.Identity, 16)">
                <span> {{myNode.Identity}}</span>
                <span style="margin-left:7px;" class="displayNodeName" *ngIf="myNode.DisplayName">{{myNode.DisplayName}}</span>
                <app-copyclipboardicon 
                                    [textToCopy]="myNode.Identity" style="vertical-align:middle;margin-left:5px;">
                                </app-copyclipboardicon>
                <a href="#" onclick="return false;" class="themeLink" style="margin-left:5px;" (click)="EditMyNode(myNode)" title="Edit"><i
                    class="material-icons">edit</i></a>
                <a href="#" onclick="return false;" class="themeLink" style="margin-left:5px;" (click)="DeleteMyNode(myNode)" title="Delete"><i
                    class="material-icons">delete</i></a>
              </li>
            </ul>
            <fieldset *ngIf="showEditNodeWizard === true">
              <p>Customise how you want this node to be displayed on OT Hub.</p>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" name="identity" placeholder="Identity*" maxlength="42" [value]="EditNode?.Identity"
                    readonly minlength="42" required>
                </div>
              </div>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" name="identity" placeholder="Display Name" maxlength="255" [value]="EditNode?.DisplayName" (input)="EditNode.DisplayName = $event.target.value">
                </div>
                <div class="help-info">Max 255 characters.</div>
              </div>
              <button class="btn btn-primary waves-effect" type="button" (click)="SaveEditNodeClicked()">Save</button>
            </fieldset>
            
            <br>
            <p *ngIf="(MyNodesValues === null || MyNodesValues.length === 0) && showAddNodeWizard === false && showEditNodeWizard === false && canImportOldNodes === false">Click the
              Add Node button to get started.</p>
              <p *ngIf="(MyNodesValues === null || MyNodesValues.length === 0) && showAddNodeWizard === false && showEditNodeWizard === false && canImportOldNodes === true">
                  Your previous favourite nodes can be imported from the old OT Hub website. Alternatively, you can add them again manually by clicking Add Node.
              </p>
            <button class="btn btn-primary waves-effect" type="button" (click)="AddNodeClicked()"
              *ngIf="showAddNodeWizard === false && showEditNodeWizard === false">Add Node</button>
              <button class="btn btn-info waves-effect" type="button" (click)="ImportPrevious()" style="margin-left:5px;"
              *ngIf="showAddNodeWizard === false && showEditNodeWizard === false && canImportOldNodes === true">Import Previous Favourites</button>
            <h3 *ngIf="showAddNodeWizard === true" style="margin-left:7px;margin-bottom:15px;">Add Node</h3>
            <form id="wizard_with_validation" method="POST" [hidden]="showAddNodeWizard === false">
              <h3>Node Search</h3>
              <fieldset>
                <p>Enter your ERC 725 Identity below to begin adding your node to My Nodes.</p>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="searchIdentity" class="form-control" name="identity" placeholder="Identity*"
                      maxlength="42" minlength="42" required>
                  </div>
                  <div class="help-info">42 characters</div>
                </div>
              </fieldset>
              <h3>Node Information</h3>
              <fieldset>
                <div id="nodeInformationLoaded">
                  <p>Check the node found below is correct before continuing.</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      Identity: <span id="nodeInformationIdentity"></span>
                    </li>
                    <li class="list-group-item">
                      Node Id: <span id="nodeInformationNodeId"></span>
                    </li>
                    <li class="list-group-item">
                      Staked Tokens: <span id="nodeInformationStakedTokens"></span>
                    </li>
                    <li class="list-group-item">
                      Locked Tokens: <span id="nodeInformationLockedTokens"></span>
                    </li>
                  </ul>
                </div>
                <div id="nodeInformationLoading">
                  <span style="vertical-align: middle;display:inline-block;margin-right:10px;">Checking your Identity
                    exists on OT Hub...</span>
                  <div class="preloader" style="vertical-align:middle;">
                    <div class="spinner-layer pl-purple">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="nodeInformationFailed">
                  <span style="vertical-align: middle;display:inline-block;margin-right:10px;">There was a problem
                    finding your node . Please check the identity you have entered.</span>
                </div>
              </fieldset>
              <h3>Customise Node</h3>
              <fieldset>
                <p>Customise how you want this node to be displayed on OT Hub.</p>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="customiseNodeIdentity" class="form-control" name="identity"
                      placeholder="Identity*" maxlength="42" readonly minlength="42" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="customiseNodeDisplayName" class="form-control" name="identity"
                      placeholder="Display Name" maxlength="255">
                  </div>
                  <div class="help-info">Max 255 characters</div>
                </div>
              </fieldset>
            </form>
            <button class="btn btn-default waves-effect" type="button" (click)="CancelNodeClicked()"
              *ngIf="showAddNodeWizard === true">Cancel</button>
         </nb-card-body>
      </nb-card>
      </div>
    </div> -->
  </div>
</section>