<h4>Recent Updates</h4>
<br>3

<nb-card>
    <nb-card-header>
        June 2021

    </nb-card-header>

    <nb-card-body>


        <nb-list>
            <nb-list-item>
                <h6>16th</h6>
                <ul>
                    <li>Fixed warning on homepage about the CoinPaprika outage still showing when it was resolved.</li>
                    <li>Data holders page now shows your saved node names.</li>
                    <li>Data creators page now shows your saved node names.</li>
                </ul>
                <h6>2nd</h6>
                <ul>
                    <li>Fixed outage caused by CoinPaprika API being offline for an extended period of time.</li>
                </ul>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>
        May 2021

    </nb-card-header>

    <nb-card-body>


        <nb-list>
            <nb-list-item>
                <h6>16th</h6>
                <ul>
                    <li>Early version of a Tax Report for My Nodes</li>
                </ul>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>
        April 2021

    </nb-card-header>

    <nb-card-body>


        <nb-list>
            <nb-list-item>
                <h6>29th</h6>
                <ul>
                    <li>Jobs page now zooms into jobs for last few weeks on load</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>28th</h6>
                <ul>
                    <li>Fixed misc multichain bugs not found in testing</li>
                    <li>Improved error handling on websockets</li>
                    <li>Removed some data from the home page causing confusion</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>27th</h6>
                <ul>
                    <li>Fixed homepage showing jobs in last 24h based on created date instead of finalized date</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>25th</h6>
                <ul>
                    <li>Added new API call to get jobs in the last 24 hours</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>24th</h6>
                <ul>
                    <li>Websocket RPC support</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>23rd</h6>
                <ul>
                    <li>Global Activity page now shows your node names instead of always the node ID</li>
                </ul>
            </nb-list-item>
            <nb-list-item>
                <h6>22nd</h6>
                <ul>
                    <li>Added ordering of nodes to the My Nodes page</li>
                    <li>Added setting for My Nodes to pick between live TRAC price of historical TRAC price</li>
                </ul>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
