


<mat-card>
    <mat-card-title>
        Jobs

    </mat-card-title>

    <mat-card-content>


<!-- 
        <nb-select selected="25" (selectedChange)="pageSizeChanged($event)">
            <nb-option value="10">10 per Page</nb-option>
            <nb-option value="25">25 per Page</nb-option>
            <nb-option value="50">50 per Page</nb-option>
            <nb-option value="100">100 per Page</nb-option>
        </nb-select> 
        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button> -->

        <ng-template #exportTemplate>
            <mat-card class="popover-card">
                <mat-card-title status="warning">
                   Export
                </mat-card-title>
                <mat-card-content>
                    <p>Export the grid below in the specified format</p>
                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                </mat-card-content>
            </mat-card>
        </ng-template>

        <br>
        <br>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </mat-card-content>
</mat-card>