<!-- 
    <nb-card>
        <nb-card-header>Jobs</nb-card-header>
        <nb-card-body>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-jobs dataTable"
                data-order='[[4, "desc"]]'
                    >
                    <thead>
                        <tr>
                            <th title="Data Creator Identity">DC</th>
                            <th style="display:none;">Id</th>
                            <th>Id</th>
                            <th style="display:none;">Timestamp</th>
                            <th>Time</th>
                            <th>Data Set Size</th>
                            <th>Holding Time</th>
                            <th>Token Amount</th>
                            <th>Status</th>
                            <th style="display:none;">End Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let offer of OffersModel">
                            <td><a routerLink="/nodes/datacreators/{{offer.DCIdentity}}"><img class="lazy" style="height:16px;width:16px;" [title]="offer.DCIdentity"
                                [attr.data-original]="getIdentityIcon(offer.DCIdentity)"></a></td>
                            <td style="display:none;">{{offer.OfferId}}</td>
                            <td><a routerLink="/offers/{{offer.OfferId}}"
                                    title="{{offer.OfferId}}">{{offer.OfferId | slice:0:50}}...</a></td>
                            <td style="display:none;">{{offer.Timestamp}}</td>
                            <td [title]="offer.Timestamp | amFromUtc | amLocal | amDateFormat:'LL h:mm A'">
                                {{offer.Timestamp | amFromUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm' }}
                            </td>
                            <td>{{offer.DataSetSizeInBytes / 1000 | number:'1.2-2'}} KB</td>
                            <td>{{(offer.HoldingTimeInMinutes > 1440 ? offer.HoldingTimeInMinutes / 1440 : offer.HoldingTimeInMinutes) | number:'1.0-1'}}
                                {{offer.HoldingTimeInMinutes > 1440 ? 'days' : 'minutes'}}</td>
                            <td>{{formatAmount(offer.TokenAmountPerHolder)}}</td>
                            <td>{{offer.Status}}</td>
                            <td style="display:none;">{{offer.EndTimestamp}}</td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        
        </nb-card-body>
      </nb-card> -->


<nb-card>
    <nb-card-header>
        Jobs

    </nb-card-header>

    <nb-card-body>



        <nb-select selected="25" (selectedChange)="pageSizeChanged($event)">
            <nb-option value="10">10 per Page</nb-option>
            <nb-option value="25">25 per Page</nb-option>
            <nb-option value="50">50 per Page</nb-option>
            <nb-option value="100">100 per Page</nb-option>
        </nb-select>
        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button>

        <ng-template #exportTemplate>
            <nb-card class="popover-card">
                <nb-card-header status="warning">
                   Export
                </nb-card-header>
                <nb-card-body>
                    <p>Export the grid below in the specified format</p>
                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                </nb-card-body>
            </nb-card>
        </ng-template>

        <br>
        <br>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>