
<div class="row">
    <div class="col-md-12 col-xxxl-12">
      <nb-card class="homeCard" status="basic">
        <nb-card-body>
          <div id="JobsHistoryChart" style="width: 100%; height: 340px;"></div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


<nb-card>
    <nb-card-header>
        Jobs

    </nb-card-header>

    <nb-card-body>

<p>Only finalised jobs are shown.</p>

        <nb-select selected="25" (selectedChange)="pageSizeChanged($event)">
            <nb-option value="10">10 per Page</nb-option>
            <nb-option value="25">25 per Page</nb-option>
            <nb-option value="50">50 per Page</nb-option>
            <nb-option value="100">100 per Page</nb-option>
        </nb-select>
        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button>

        <ng-template #exportTemplate>
            <nb-card class="popover-card">
                <nb-card-header status="warning">
                   Export
                </nb-card-header>
                <nb-card-body>
                    <p>Export the grid below in the specified format</p>
                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                </nb-card-body>
            </nb-card>
        </ng-template>

        <br>
        <br>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
