<div class="footer">

    <div class="row">

        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="title">
                <span>OT Hub</span>
                |
                <span class="link donation">
                    <a href="/misc/donations">Donate</a>
                </span>
            </div>
            <div class="descCont">
                <p class="desc">OT Hub is a job and node explorer for the ODN.</p>
            </div>

            <div title="Toggle Day/Night Mode">
                <button nbButton status="info" (click)="toggleTheme()">
                    <nb-icon [icon]="isLight() ? 'moon-outline' : 'sun-outline'"></nb-icon>
                </button>
            </div>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-7 links">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="linksTitle">
                        Website
                    </span>
                    <div class="link">
                        <a href="/system/status">Service Status</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="linksTitle">
                        Resources
                    </span>
                    <div class="link">
                        <a href="https://origintrail.io/" target="_blank">OriginTrail</a>
                    </div>
                    <div class="link">
                        <a href="https://www.otnode.com/" target="_blank">Node Install</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="linksTitle">
                        Developers
                    </span>
                    <div class="link">
                        <a href="https://v5api.othub.info/docs/index.html" target="_blank">APIs</a>
                    </div>
                    <div class="link">
                        <a href="/system/smartcontracts">Smart Contracts</a>
                    </div>
                </div>
            </div>
        </div>




    </div>