<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">OT Hub</a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

  <nb-select [selected]="currentNetwork" (selectedChange)="changeNetwork($event)" style="margin-left:10px;">
    <nb-option *ngFor="let network of networks" [value]="network.url"> {{ network.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">


 <nb-actions size="medium">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <!-- <nb-action class="control-item" icon="bell"
    badgeDot
    badgePosition="top right"
    badgeStatus="info"></nb-action> -->
    <nb-action class="user-action">
      <app-auth-button></app-auth-button>

    </nb-action>
  </nb-actions>
</div>
