<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">OT Hub</a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

  <nb-select [selected]="currentNetwork" (selectedChange)="changeNetwork($event)" style="margin-left:10px;">
    <nb-option *ngFor="let network of networks" [value]="network.url"> {{ network.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">

  <nb-actions size="small">
  <nb-action icon="bell" [nbPopover]="templateRef" nbPopoverPlacement="bottom"
  [badgeDot]="hasNewNotifications"
                 badgePosition="bottom middle"
                 badgeStatus="warning">
      </nb-action>
      </nb-actions>

  <!-- <button nbButton status="danger" [nbPopover]="templateRef" nbPopoverPlacement="bottom"><nb-icon icon="bell"></nb-icon></button> -->


  <ng-template #templateRef>
    <div class="notifications">




   

                <div class="box shadow-sm rounded mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Notifications</h6>
                        <div class="small text-success" *ngIf="isConnected" style="margin-top: 2px;"><i class="fa fa-check-circle"></i> You are connected to OT Hub for live notifications.</div>
                        <div class="small text-danger" *ngIf="isDisconnected" style="margin-top: 2px;"><i class="fa fa-times"></i> There is an issue connecting for live notifications.</div>

                        <button nbButton status="primary" size="tiny" style="margin-top: 5px;" outline *ngIf="notifications != null && notifications.length > 0">Dismiss All</button>
                    </div>
                    <div class="box-body p-0">
                        <div class="d-flex align-items-center border-bottom osahan-post-header" *ngFor="let notification of notifications" style="padding:0.6rem 0.6rem 0.6rem 0.6rem !important">
<div class="height:30px;width:30px;">
  <div class="dropdown-list-image d-flex align-items-center bg-success justify-content-center rounded-circle"><i class="fa fa-check-circle" style="color:white;"></i></div>

</div>
                          <div class="font-weight-bold mr-3" style="overflow:hidden;margin-left:15px;">
                                <div class="text-truncate">{{notification.Title}}</div>
                                <div class="small">{{notification.Description}}</div>
                            </div>
                            <span class="ml-auto mb-auto">
                                <div class="text-right text-muted pt-1" style="font-size:11px;" [title]="notification.Date | amFromUtc | amLocal | amDateFormat:'LL h:mm A'">{{notification.Date | amFromUtc | amLocal | amTimeAgo }}</div>
                                <div class="text-right text-muted pt-1" style="font-size:12px;"><a href="/{{notification.Url}}">View</a></div>

                            </span>

                        </div>
                      
                    </div>
                </div>
          
      

      <!-- <div class="container">
        <div class="row">

            <div class="col-lg-12 right">
                <div class="box shadow-sm rounded mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Notifications</h6>
                    </div>
                    <div class="box-body p-0">
                        <div class="d-flex align-items-center border-bottom osahan-post-header" *ngFor="let notification of notifications" style="padding:0.6rem 0.6rem 0.6rem 0.6rem !important">
                            <div class="dropdown-list-image d-flex align-items-center bg-success justify-content-center rounded-circle"><i class="fa fa-check-circle" style="color:white;"></i></div>
                            <div class="font-weight-bold mr-3" style="overflow:hidden;margin-left:40px;">
                                <div class="text-truncate">{{notification.Title}}</div>
                                <div class="small">{{notification.Description}}</div>
                            </div>
                            <span class="ml-auto mb-auto">
                                <div class="text-right text-muted pt-1">{{notification.Date | amFromUtc | amLocal | amTimeAgo }}</div>
                            </span>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
      </div> -->



    </div>
  </ng-template>

 <nb-actions size="medium">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <!-- <nb-action class="control-item" icon="bell"
    badgeDot
    badgePosition="top right"
    badgeStatus="info"></nb-action> -->










    <nb-action class="user-action">
      <app-auth-button></app-auth-button>

    </nb-action>
  </nb-actions>
</div>
