<section class="contentContainer">


    <div class="container-fluid">
        <div *ngIf="isLoading === false && failedLoading === true">
            <app-failed-loading-page></app-failed-loading-page>
        </div>
        <div class="row clearfix" *ngIf="isLoading === false && failedLoading === false">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-title>Job</mat-card-title>
                    <mat-list>
                        <mat-list-item class="dont-break-out">
                            Offer Id: {{OfferModel?.OfferId}}&nbsp;<app-copyclipboardicon
                                [textToCopy]="OfferModel?.OfferId" style="vertical-align:middle">
                            </app-copyclipboardicon>
                        </mat-list-item>
                        <mat-list-item>
                            Status: {{OfferModel?.Status}}
                        </mat-list-item>
                        <mat-list-item>
                            Created:
                            {{OfferModel?.CreatedTimestamp  | amFromUtc | amLocal | amDateFormat:'LL h:mm A'}}
                        </mat-list-item>
                        <mat-list-item *ngIf="OfferModel?.FinalizedTransactionHash !== null">
                            Finalized:
                            {{OfferModel?.FinalizedTimestamp  | amFromUtc | amLocal | amDateFormat:'LL h:mm A'}}
                        </mat-list-item>
                        <mat-list-item *ngIf="OfferModel?.FinalizedTransactionHash !== null">
                            Completion:
                            {{OfferModel?.EndTimestamp | amFromUtc | amLocal | amDateFormat:'LL h:mm A'}}
                            ({{(OfferModel?.HoldingTimeInMinutes > 1440 ? OfferModel?.HoldingTimeInMinutes / 1440 : OfferModel?.HoldingTimeInMinutes) | number:'1.0-1'}}
                            {{OfferModel?.HoldingTimeInMinutes > 1440 ? 'day(s)' : 'minutes'}} holding time)
                        </mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card>
                    <mat-card-title>Data</mat-card-title>
                    <mat-list>
                        <mat-list-item class="dont-break-out">
                            Dataset Id: {{OfferModel?.DataSetId}}&nbsp;<app-copyclipboardicon
                                [textToCopy]="OfferModel?.DataSetId" style="vertical-align:middle">
                            </app-copyclipboardicon>
                        </mat-list-item>
                        <mat-list-item>
                            Dataset Size: {{OfferModel?.DataSetSizeInBytes / 1000 | number:'1.2-2'}} KB
                        </mat-list-item>
                        <mat-list-item>
                            Token Amount: {{formatAmount(OfferModel?.TokenAmountPerHolder)}}
                            <span
                                *ngIf="OfferModel?.Holders.length === 3 && OfferModel?.TokenAmountPerHolder > 1">({{formatAmount(6 * OfferModel?.TokenAmountPerHolder)}}
                                total,
                                {{formatAmount(3 * OfferModel?.TokenAmountPerHolder)}} from DC,
                                {{formatAmount(OfferModel?.TokenAmountPerHolder)}} from each DH)</span>
                        </mat-list-item>
                        <mat-list-item *ngIf="OfferModel?.EstimatedLambda !== null">
                            Estimated Price Factor: {{toFixed(OfferModel?.EstimatedLambda, 0)}}&nbsp;<i
                                class="fas fa-info-circle"
                                [nbPopover]="'This is only an estimate. The closest matching price factor found by OT Hub was ' + OfferModel?.EstimatedLambda + '.'"
                                nbPopoverTrigger="hover"></i>
                        </mat-list-item>
                        <mat-list-item>
                            Time Between Litigation Checks: {{OfferModel?.LitigationIntervalInMinutes}}
                            minutes
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-title>Data Creator</mat-card-title>
                    <mat-list class="dont-break-out">
                        <mat-list-item>
                            <a *ngIf="OfferModel?.DCNodeId != null"
                                routerLink="/nodes/datacreators/{{OfferModel?.DCNodeId}}"
                                [title]="OfferModel?.DCNodeId" onClick="return false;">

                              {{OfferModel?.DCNodeId}}
                            </a>

                            <span *ngIf="OfferModel?.DCNodeId == null">Unknown Node Id:
                                {{OfferModel?.DCNodeId}}</span>
                        </mat-list-item>
                    </mat-list>

                </mat-card>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="OfferModel?.FinalizedTransactionHash !== null">
                <mat-card>
                    <mat-card-title style="position: relative;">Data Holders
                    </mat-card-title>
                    <mat-list class="dont-break-out">
                        <mat-list-item style="position: relative;" *ngFor="let holder of OfferModel?.Holders">
                            <a routerLink="/nodes/dataholders/{{holder.NodeId}}" [title]="holder.NodeId"
                                onClick="return false;">

                              {{holder.NodeId}}
                            </a>
                            <!-- <nb-badge [text]="holder.LitigationStatusText"
                                status="{{holder.LitigationStatus === null ? 'success' : 'danger'}}"
                                position="top right"></nb-badge> -->

                        </mat-list-item>
                    </mat-list>
            
                </mat-card>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-card>
                    <mat-card-title>Timeline</mat-card-title>
                    <mat-card-content>
                      <div id="TimelineChart" style="width: 100%;height:600px;"></div>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-title>Blockchain</mat-card-title>
                    <mat-list>
                        <mat-list-item>
                            Blockchain: {{OfferModel?.BlockchainDisplayName}}
                        </mat-list-item>
                    </mat-list>
                    <span style="margin: 10px 20px;color:gray;">Job Creation</span>
                    <mat-list>
                        <mat-list-item class="dont-break-out">
                            Transaction Hash: {{OfferModel?.CreatedTransactionHash}}&nbsp;<app-copyclipboardicon
                                [textToCopy]="OfferModel?.CreatedTransactionHash" style="vertical-align:middle">
                            </app-copyclipboardicon>
                        </mat-list-item>
                        <mat-list-item>
                            Block Height: {{OfferModel?.CreatedBlockNumber}}
                        </mat-list-item>
                        <mat-list-item>
                            Transaction Fee:
                            {{OfferModel?.CreatedGasUsed * (OfferModel?.CreatedGasPrice / 1000000000000000000)| number:'1.0-8'}}
                            ETH ({{OfferModel?.CreatedGasPrice / 1000000000 | number:'1.0-1'}} Gwei)
                        </mat-list-item>
                    </mat-list>
                    <span style="margin: 10px 20px 10px 20px;color:gray;" *ngIf="OfferModel?.FinalizedTransactionHash !== null">Job
                        Finalized</span>
                    <mat-list *ngIf="OfferModel?.FinalizedTransactionHash !== null">
                        <mat-list-item class="dont-break-out">
                            Transaction Hash: {{OfferModel?.FinalizedTransactionHash}}&nbsp;
                            <app-copyclipboardicon [textToCopy]="OfferModel?.FinalizedTransactionHash"
                                style="vertical-align:middle"></app-copyclipboardicon>
                        </mat-list-item>
                        <mat-list-item>
                            Block Height: {{OfferModel?.FinalizedBlockNumber}}
                        </mat-list-item>
                        <mat-list-item>
                            Transaction Fee:
                            {{OfferModel?.FinalizedGasUsed * (OfferModel?.FinalizedGasPrice / 1000000000000000000) | number:'1.0-8'}}
                            ETH ({{OfferModel?.FinalizedGasPrice / 1000000000 | number:'1.0-1'}} Gwei)
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>

        </div>

    </div>
</section>
