<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Jobs">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period" isjobschart="true"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
      </div>
    </nb-tab>

    <nb-tab tabTitle="Nodes" [lazyLoad]="true">

      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <div class="alert alert-warning">
          There is ongoing work to improve the online node count.
        </div>
        <ngx-chart-panel-header [type]="period" isjobschart="false"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>

        <ngx-nodes-chart #nodesChart [nodesChartData]="nodesChartData"></ngx-nodes-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
