.blockchainSmall {
    background-color: #eff2f5;
    color: #58667e;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 6px;
  }

  .caption.description {
      margin-top:4px;
  }