

<nb-card>
    <nb-card-header>
        Donations

    </nb-card-header>

    <nb-card-body>
        <p>
            OT Hub is a <a href="https://github.com/lukeskinner/OTHub">open source project</a> that is run by Luke Skinner. You can find me on the official OriginTrail Telegram or Discord.
            <br><br>
            OriginTrail cover all the hosting costs but I spend time writing the website and keeping it up-to-date.
<br><br>
            If you fancy donating the equivalent of a beer I have some donations addresses below! Don't feel you need to send me anything!
        </p>

        <nb-list>
            <nb-list-item>
                xDai: 0x3c79a5653DeF6f8BCbE994Ea1C62e39d657aB25d
            </nb-list-item>
            <nb-list-item>
                ETH: 0x3c79a5653DeF6f8BCbE994Ea1C62e39d657aB25d
            </nb-list-item>
            <nb-list-item>
                BTC: bc1qz70z5y0lu2lhzz3fjxymckud2tg78mfhrdf68m
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
