<!-- <section class="content">
    <div class="container-fluid">

        <div *ngIf="isLoading === false && failedLoading === true">
            <app-failed-loading-page></app-failed-loading-page>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="isLoading === false && failedLoading === false">
            <nb-card>
                <nb-card-header>Summary</nb-card-header>
                <nb-list>
                    <nb-list-item>
                        Identity: {{identity}}
                    </nb-list-item>
                    <nb-list-item>
                        Total Payouts: {{totalPayoutsLength}}
                    </nb-list-item>
                    <nb-list-item>
                        Total TRAC Paid: {{totalTracPaid}}
                    </nb-list-item>
                    <nb-list-item>
                        Total Equivalent USD Paid: {{totalEquivUSDPaid | number:'1.0-2'}}
                    </nb-list-item>
                    <nb-list-item>
                        Average USD Ticker Price: {{averageTracTickerPrice| number:'1.0-6'}}
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <nb-card>
                <nb-card-header>Payouts
         
                </nb-card-header>
                <nb-card-body>
                    <p>This page shows you the USD equivalent price of TRAC at the time the offer paid out.</p>
                    <p>USD prices are taken from Coinpaprika. Payouts will be matched to the closest ticker price
                        available (every 6 hours).</p>

                      
                        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button>
                
                        <ng-template #exportTemplate>
                            <nb-card class="popover-card">
                                <nb-card-header status="warning">
                                   Export
                                </nb-card-header>
                                <nb-card-body>
                                    <p>Export the grid below in the specified format</p>
                                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                                </nb-card-body>
                            </nb-card>
                        </ng-template>
                
                        <br>
                        <br>
                        <ng2-smart-table [settings]="settings" [source]="source">
                        </ng2-smart-table>

                 </nb-card-body>
            </nb-card>
        </div>
    </div>
</section> -->