<section [ngClass]="{'content': !hideBreadcrumb}">
    <div [ngClass]="{'container-fluid': !hideBreadcrumb}">
        <div *ngIf="isLoading === false && failedLoading === true">
                <app-failed-loading-page></app-failed-loading-page>
            </div>

        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nb-card>
                    <nb-card-header>                     
                        Data Holders
                        <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#" (click)="copyToClipboard()" onClick="return false;">Copy to Clipboard</a>
                                        </li>
                                        <li>
                                            <a href="#" (click)="exportToCSV()" onClick="return false;">Export to CSV</a>
                                        </li>
                                        <li>
                                            <a href="#" (click)="exportToExcel()" onClick="return false;">Export to Excel</a>
                                        </li>
                                        <li>
                                            <a href="#" (click)="print()" onClick="return false;">Print</a>
                                        </li>
                                    </ul>
                                </li>
                                </ul> -->
                            </nb-card-header>
                    <nb-card-body>
                        <!-- <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-dataholders-table dataTable" data-order='[[ 4, "desc" ]]'>
                                <thead>
                                    <tr>
                                        <th style="display:none;">Identity</th>
                                        <th>Identity</th>
                                        <th style="display:none;">Node Id</th>
                                        <th>Jobs Won (Total)</th>
                                        <th>Jobs Won (7 days)</th>
                                        <th>Jobs Active</th>
                                        <th>Paidout Tokens</th>
                                        <th>Staked Tokens</th>
                                        <th>Locked Tokens</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let node of NodeModel">
                                        <td style="display:none;">{{node.Identity}}</td>
                                        <td><a routerLink="/nodes/dataholders/{{node.Identity}}"><img class="lazy" style="height:16px;width:16px;" [attr.data-original]="getIdentityIcon(node.Identity)"> {{myNodeService.GetName(node.Identity)}}</a></td>
                                        <td style="display:none;">{{node.NodeId }}</td>
                                        <td>{{node.TotalWonOffers | number:'1.0-0' }}</td>
                                        <td>{{node.WonOffersLast7Days | number:'1.0-0'}}</td>
                                        <td>{{node.ActiveOffers | number:'1.0-0'}}</td>
                                        <td>{{formatAmount(node.PaidTokens)}}</td>
                                        <td>{{formatAmount(node.StakeTokens)}}</td>
                                        <td>{{formatAmount(node.StakeReservedTokens)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <nb-select selected="25" (selectedChange)="pageSizeChanged($event)">
                            <nb-option value="10">10 per Page</nb-option>
                            <nb-option value="25">25 per Page</nb-option>
                            <nb-option value="50">50 per Page</nb-option>
                            <nb-option value="100">100 per Page</nb-option>
                        </nb-select>
                        <button nbButton status="primary" outline [nbPopover]="exportTemplate" style="margin-left:10px;">Export</button>
                
                        <ng-template #exportTemplate>
                            <nb-card class="popover-card">
                                <nb-card-header status="warning">
                                   Export
                                </nb-card-header>
                                <nb-card-body>
                                    <p>Export the grid below in the specified format</p>
                                    <button nbButton status="primary" (click)="ExportToCsv()">CSV</button>
                                    <button nbButton status="primary" (click)="ExportToJson()" style="margin-left:10px;">JSON</button>
                                </nb-card-body>
                            </nb-card>
                        </ng-template>
                
                        <br>
                        <br>
                        <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onEdit($event)" (createConfirm)="onCreate($event)" (deleteConfirm)="onDelete($event)">
                        </ng2-smart-table>
                     </nb-card-body>
                </nb-card>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>